
body {
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    color: #2b505b;
}

h1 {
    font-family: 'Alegreya', serif;
    font-size: 48px;
    text-align: center;
}

div#container {
    width: 800px;
    margin: 0 auto;
}

.month-section {
    border-top: 1px solid #cfe1e6;
    padding: 1em 0;
    clear: both;
}

.month-label {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Alegreya', serif;
    text-align: right;
}

.month-label .month {
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    margin-right: 10px;
}

.month-label .year {
    font-size: 18px;
    line-height: 0.7;
    margin-right: 10px;
}

.days {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.birthday {
    margin-bottom: 15px;
}

.birthday .date {
    width: 80px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.birthday .weekday {
    font-size: 14px;
    font-family: 'Alegreya', serif;
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 5em;
    vertical-align: middle;
}

.birthday .day {
    background: #2b505b;
    color: white;
    border-radius: 8px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
}

.birthday .description {
    width: 500px;
    margin-left: 10px;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 800px) {

    div#container {
        width: auto;
    }

    .month-section {
        margin: 0 10px;
    }

    .month-label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }

    .month-label div {
        display: inline;
    }

    .days {
        display: block;
        width: auto;
    }

    .birthday .date {
        width: 20%
    }

    .birthday .description {
        width: 70%;
    }
}